{% extends 'base.html' %}

{% block content %}
<style>
    .table-responsive {
        overflow-x: auto;
    }

    .fixed-col {
        position: sticky;
        left: 0;
        background-color: #fff;
        opacity: 1 !important;
        z-index: 1;
        /* add a higher z-index value to make sure it's on top of other elements */
    }

    .fixed-col,
    .fixed-col+* {
        width: 200px;
        /* set the width of the first column */
    }

    form {
        margin: 20px 0;
    }

    label {
        display: block;
        margin-bottom: 10px;
    }

    input[type="date"] {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

    button[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }

    button[type="submit"]:hover {
        background-color: #3e8e41;
    }
</style>
<div class="container mt-5">
    {% include 'navbar.html' %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">{{ class_obj.name }}</h4>
                </div>
                <div class="card-body">
                    <p class="text-dark">{{ class_obj.description }}</p>
                    {% if enrolled %}
                    <div class="alert alert-success">
                        <p>You are already enrolled in this class.</p>
                    </div>
                    {% elif messages %}
                    {% for message in messages %}
                    {% if message.tags == 'success' %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <form method="POST" action="{% url 'class_detail' class_obj.id %}" id="class-attendance-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="password" class="text-dark">Class Password</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary mt-3">Join Class</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if is_teacher %}
        {% if enrolled %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0">QR Scanner</h4>
                </div>
                <div class="card-body text-center">
                    <video id="scanner" style="width:100%;"></video>
                    <p id="output" class="mt-3"></p>
                    <button id="scanBtn" class="btn btn-lg btn-primary mt-3" onclick="toggleScanner()">Scan QR</button>
                </div>
            </div>
        </div>
        {% endif %}
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
        <script>
            let scanner = null;
            let scanning = false;
            function toggleScanner() {
                if (scanning) {
                    scanner.stop();
                    scanning = false;
                    document.getElementById('scanBtn').innerText = 'Scan QR';
                } else {
                    Instascan.Camera.getCameras().then(function (cameras) {
                        if (cameras.length > 0) {
                            scanner = new Instascan.Scanner({
                                continuous: true,
                                video: document.getElementById('scanner'),
                                mirror: true,
                                captureImage: false,
                                backgroundScan: true,
                                refractoryPeriod: 5000,
                                scanPeriod: 1
                            });
                            scanner.addListener('scan', function (content) {
                                scanner.stop();
                                scanning = false;
                                document.getElementById('scanBtn').innerText = 'Scan QR';
                                const decodedresult = content;
                                $.ajax({
                                    type: "POST",
                                    url: "{% url 'attendance' class_obj.id %}",
                                    data: {
                                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                                        'content': content
                                    },
                                    success: function (data) {
                                        alert(data.message);
                                    },
                                    error: function (xhr, errmsg, err) {
                                        alert(xhr.status + ": " + xhr.responseText);
                                    }
                                });
                                // alert(decodedresult);
                            });
                            if (cameras.length > 1) {
                                scanner.mirror = false;
                                scanner.start(cameras[1]);
                            }
                            else {
                                scanner.mirror = true;
                                scanner.start(cameras[0]);
                            }
                            scanning = true;
                            document.getElementById('scanBtn').innerText = 'Stop';

                        } else {
                            alert('No cameras found.');
                        }
                    }).catch(function (e) {
                        alert(e);
                    });
                }
            }
        </script>
        {% endif %}

        {% if enrolled %}
        <div class="col-md-8 my-3">
            <h2>Attendance</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="fixed-col" style="width: 150px;">Student</th>
                            {% for date in teacher_attendance %}
                            <th>{{ date }}
                                {% if is_teacher %}
                                <button class="delete-date bg-danger text-white btn" data-date="{{ date }}"
                                    data-class="{{ class_obj.id }}">Delete Date</button>
                                {% endif %}
                            </th>
                            {% endfor %}
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in attendance_records %}
                        <tr>
                            <td class="fixed-col" style="width: 150px;">{{ record.student.username }}</td>
                            {% for date in teacher_attendance %}
                            <td style="width: 150px;">
                                {% if date in record.dates_present %}
                                <p class="text-center">Present</p>
                                {% if is_teacher %}
                                <button class="remove-attendance bg-primary text-white btn" data-date="{{ date }}"
                                    data-student="{{ record.student.id }}" data-class="{{ class_obj.id }}">Remove
                                    Presence</button>
                                {% endif %}
                                {% else %}
                                {% if is_teacher %}
                                <button class="add-attendance bg-primary text-white btn" data-date="{{ date }}"
                                    data-student="{{ record.student.id }}" data-class="{{ class_obj.id }}">Mark
                                    Present</button>
                                {% endif %}
                                {% endif %}
                            </td>
                            {% endfor %}
                            <td style="width: 150px;">{{ record.percent_attendance }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        {% endif %}
        {% if is_teacher and enrolled %}
        <div class="row justify-content-center">
            <form method="POST" class="form-inline" id="my-form" style="width: 200px;">
                {% csrf_token %}
                <div class="form-group mx-sm-3 mb-2">
                    <label for="date" class="sr-only">Add Date:</label>
                    <input type="date" name="date" id="date" class="form-control" required>
                    <button type="submit" class="btn btn-primary my-2">Submit</button>
                </div>

            </form>
        </div>
        {% endif %}
    </div>
    <script>
        var cid = {{ class_obj.id }}
        $(document).ready(function () {
            $('.add-attendance').click(function () {
                var date = $(this).data('date');
                var student_id = $(this).data('student');
                var class_id = $(this).data('class');

                $.post('/add_attendance/', { 'date': date, 'student_id': student_id, 'class_id': class_id }, function (data) {
                    // handle success/failure
                    location.reload(); // refresh the page
                });
            });
            $('.remove-attendance').click(function () {
                var date = $(this).data('date');
                var student_id = $(this).data('student');
                var class_id = $(this).data('class');

                $.post('/remove_attendance/', { 'date': date, 'student_id': student_id, 'class_id': class_id }, function (data) {
                    // handle success/failure
                    location.reload(); // refresh the page
                });
            });
            $('#my-form').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serializeArray();
                var dateValue = $('#date').val();

                var classIdValue = cid
                formData.push({ name: 'date', value: dateValue });
                formData.push({ name: 'class_id', value: classIdValue });
                $.post('/add_date/', formData, function (response) {
                    // Handle response
                    location.reload();
                });
            });
            $('.delete-date').click(function () {
                const date = $(this).data('date');
                const class_id = $(this).data('class');
                console.log(date, class_id)
                $.post('/delete_date/', { 'date': date, 'class_id': class_id }, function (data) {
                    // handle response from server, e.g. reload attendance table
                    location.reload();
                });
            });
        });
    </script>
</div>
{% endblock %}