{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-end mt-3">
        <div>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    </div>
    <div class="row">
        {% if qr_code %}
        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
        {% endif %}
        <div class="col-12 mb-5">
            <h1 class="display-4 text-center mb-4">Your Dashboard</h1>
            <hr class="my-5">
        </div>
        <div class="col-md-6 mb-5">
            <div class="card mb-3">
                <div class="card-body">
                    {% if messages %}
                    <div
                        class="alert alert-dismissible {% if message.tags == 'success' %}alert-success{% elif message.tags == 'warning' %}alert-warning{% elif message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Join a New Class:</h4>
                </div>
                <div class="card-body">
                    <input type="text" id="class-search-input" class="form-control" placeholder="Search for a class...">
                </div>
                <div class="card-body" id="class-search-results">
                    <!-- The list of classes will be displayed here -->
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Your Classes:</h4>
                </div>
                <div class="card-body">
                    {% if user_classes %}
                    <ul class="list-group">
                        {% for name,id,des in user_classes %}
                        <li class="list-group-item">
                            <a href="{% url 'class_detail' id %}">{{ name }}</a> - {{ des }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>You haven't joined any classes yet.</p>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">All Classes:</h4>
                </div>
                <div class="card-body">
                    {% if all_classes %}
                    <ul class="list-group">
                        {% for class_obj in all_classes %}
                        <li class="list-group-item">
                            <a href="{% url 'class_detail' class_obj.id %}">{{ class_obj.name }} </a>-
                            {{class_obj.description}}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>There are no classes.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Get the input element and search results div
    const classSearchInput = document.getElementById('class-search-input');
    const classSearchResults = document.getElementById('class-search-results');

    // Add an event listener to the input element
    classSearchInput.addEventListener('input', () => {
        // Get the search query from the input value
        const query = classSearchInput.value.trim();

        // Send an AJAX request to the server with the search query
        fetch(`/search_classes/?query=${query}`)
            .then(response => response.json())
            .then(classes => {
                // Clear the search results div
                classSearchResults.innerHTML = '';

                // Display the filtered classes
                for (const classObj of classes) {
                    const listItem = document.createElement('div');
                    const cid = classObj.id;
                    const ss = "/class/" + String(cid) + "/";
                    listItem.innerHTML = `<a href=${ss}>${classObj.name}</a> - ${classObj.description}`;
                    classSearchResults.appendChild(listItem);
                }
            });
    });
</script>
{% endblock %}