{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-5">
            <h1 class="display-4 text-center mb-4">Your Dashboard</h1>
            <hr class="my-5">
        </div>
        <div class="col-md-6 mb-5">

            <div class="card mb-3">

                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Create a New Class:</h4>
                </div>
                <div class="card-body">
                    <form method="POST" onsubmit="return checkForm()">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="class-name" class="form-label">Class Name:</label>
                            <input type="text" id="class-name" name="class-name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="class-description" class="form-label">Class Description:</label>
                            <textarea id="class-description" name="class-description" class="form-control"
                                required></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="class-password" class="form-label">Class Password:</label>
                            <input type="password" id="class-password" name="class-password" class="form-control"
                                required>
                        </div>
                        <div class="d-grid gap-2 mb-3">
                            <button type="submit" class="btn btn-primary btn-lg">Create Class</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-5">
            <div class="card mb-3">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Your Classes:</h4>
                </div>
                <div class="card-body">
                    {% if classes %}
                    <ul class="list-group">
                        {% for name,des in classes %}
                        <li class="list-group-item">
                            <a href="#">{{ name}}</a> - {{ des }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>You haven't created any classes yet.</p>
                    {% endif %}
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">All Classes:</h4>
                </div>
                <div class="card-body">
                    {% if all_classes %}
                    <ul class="list-group">
                        {% for class_obj in all_classes %}
                        <li class="list-group-item">
                            <a href="#">{{ class_obj.name }}</a> - {{ class_obj.description }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p>There are no classes.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function checkForm() {
        var password = document.getElementById("class-password").value;
        if (password == "") {
            alert("Please enter a password for the class.");
            return false;
        }
        return true;
    }
</script>
{% endblock %}